.button {
  width: 200px;
  height: 45px;
  background: linear-gradient(to right, #C0390B, #E76B00);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 999px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
