.div-select {
  display: flex;
  flex-direction: column;
  color: #16455D;
}

.div-options {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  gap: 10px;
}

@media screen and (max-width: 1140px){
  .div-options {
    display: flex;
    flex-direction: column;
  }
}

.button-select {
  margin-top: 30px;
  width: 200px;
  height: 45px;
  background: linear-gradient(to right, #16455d, #6796ad);
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 999px;
  padding: 10px 30px;
  cursor: pointer;
  font-size: 1.2em;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button-select:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to right, #C0390B, #E76B00);
}

.focus {
  background: linear-gradient(to right, #C0390B, #E76B00);
}

@media screen and (max-width: 720px){
  .button-select {
    width: 150px;
    height: 35px;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 325px){
  .button-select {
    width: 120px;
    height: 30px;
    font-size: 0.5em;
  }
}
