.NavBar {
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  background-color: #16455D;
}

.NavBar > * {
  width: 100%;
}

.LeftBar {
  display: flex;
  justify-content: start;
  gap: 20px;
}

.RightBar {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1140px){
  .NavBar {
    padding: 10px 50px;
  }
}

.logo {
  width: 130px;
}

@media screen and (max-width: 720px){
  .logo {
    width: 100px;
  }
}
