#root {
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
}

.rodape-banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.morfologia-bottom {
  width: 100%;
  height: auto;
  display: block;
}
