#root {
  background-image: url('./assets/bar-molhado.jpg');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-color: #242424;
}

@media only screen and (max-width: 1200px) {
  #root {
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.divButton {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
  align-items: center;
}
