.banner {
  display: flex;
  padding: 0px 10px;
}

.banner > * {
  width: 100%;
}

.content {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  text-align: center;
  color: #16455D;
  font-size: 25px;
}

.text > * {
  margin: 15px auto;
}

.morfologia-left {
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.morfologia-right {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.morfologia-rotate {
  transform: rotate(45deg);
}

.morfologiaPart {
  transform: scaleX(-1);
}
